div {
  width: 300px;
  height: 340px;
  padding: 10px;
  box-sizing: border-box;
  margin: 20px;
}

div img {
  width: 260px;
  height: auto;
  outline: 2px solid white;
  border-radius: 8px;
}

.Alive {
  background-color: rgb(103, 200, 218);
}

.Other {
  background-color: rgb(226, 123, 123);
}

p {
  margin: 0;
  font-size: 20px;
  color: aliceblue;
  font-weight: 700;
  font-family: sans-serif;
}
span {
  font-weight: 600;
  color: aliceblue;
}
